@import './breakpoints.css';
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #a88c62 url('/assets/images/kiwihug-iiXyEE-HVXQ-unsplash.webp');
}

h1,h2,h3,h4,h5 {
    margin: 0px;
}

p {
    margin: 0px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    background: rgb(0,0,0);
    flex-shrink: 1;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    padding: 24px;
    color: rgb(255,255,255);
}

header nav a.active {
    background: rgba(100, 84, 58, 0.7);
}

ul {
    margin: 0px;
    padding-left: 32px;
}

li {
    /*padding: 4px 0px;*/
    padding-bottom: 2px;
}

div.content_wrap {
    padding: 32px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

div.content {
    flex-grow: 1; 
    display: block;
    justify-content: center;
}

article {
    width: 1100px;
    background: rgb(255,255,255);
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.5);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;  /* Add this line for horizontal centering */
}


